@page "/equipasepilotos"

@using LightsOut.Data

@inject EquipaService EquipaService

<div class="info">

    <div class="row">
        <div class="filtros">
            <div class="row">
                <button type="button" @onclick="PrevEpoca">&#8249</button>
                <p>Época @(epocaPretendida-1)/@epocaPretendida</p>
                <button type="button" @onclick="ProxEpoca">&#8250</button>
            </div>
        </div>
    </div>

    @if (equipas == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Equipa</th>
                    <th>Nacionalidade</th>
                    <th>Piloto Principal</th>
                    <th>Piloto Secundário</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var equipa in equipas)
                {
                    <tr>
                        <td>@equipa.nome</td>
                        <td>@equipa.nacionalidade</td>

                        @foreach (var piloto in equipa.pilotos)
                        {
                            <td>@piloto</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

@code {
    private Equipa[] equipas;
    private int epocaPretendida = 2021;

    private void ProxEpoca()
    {
        epocaPretendida++;
    }

    protected void PrevEpoca()
    {
        if (epocaPretendida >= 1)
        {
            epocaPretendida--;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        equipas = await EquipaService.GetEquipas();
    }
}
