@page "/mapaProvas"
@inject IJSRuntime JSRuntime

<div class="contentor">
    <div id='map' style="height: 100vh; width: 100%;position: relative;"></div>
    <div class="filtros">
        <div class="row">
            <div class="row">
                <button type="button" @onclick="PrevDia">&#8249</button>
                <p>@(dia.ToString("dd/MM/yyyy"))</p>
                <button type="button" @onclick="ProxDia">&#8250</button>
            </div>
        </div>
    </div>
</div>


@code {



    private DateTime dia = DateTime.Now;







    private void ProxDia()



    {

        DateTime d = dia.AddDays(1);

        dia = d;



        base.StateHasChanged();



        Console.WriteLine(dia);



    }







    protected void PrevDia()



    {



        DateTime d = dia.AddDays(-1);

        dia = d;



        base.StateHasChanged();



        Console.WriteLine(dia);



    }



    protected override async Task OnAfterRenderAsync(bool firstRender)

    {

        if (firstRender)

        {



            //localizacoes = await getLocal();

            //locais = await getCoord();/

            await JSRuntime.InvokeVoidAsync("console.log", "Hello");

            //await JSRuntime.InvokeVoidAsync("initialMap", null);

            await JSRuntime.InvokeVoidAsync("loadMapScenario", null);



            StateHasChanged();

        }

    }
}