.map[b-zxhmacjn0q]{
    margin-top: 1.5rem;
    position: relative;/*para mapa ficar de baixo do filtro*/
    z-index: 2;
}

.filtros[b-zxhmacjn0q]{
    position: absolute;/*para mapa ficar de acima do filtro*/
    margin-top: 0.5rem;
    background: transparent;
}

.row[b-zxhmacjn0q]{
    margin-top: 0.5rem;
}

.row p[b-zxhmacjn0q]{
   color: rgb(0, 0, 0);
   margin-top: 10px;
   width: 150px;
   text-align: center;
   font-weight: bold;
}

.row button[b-zxhmacjn0q]{
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    border: 2px solid white;
    background-color: black;
    background-color: rgb(0, 0, 0);/*cor do butão*/
    color: rgb(27, 230, 213);/*cor da letra*/
    border: 2px solid white;
    border-radius: 50%;
    outline: none;
}

button:hover[b-zxhmacjn0q] {
    background-color: rgb(255, 255, 255);/*cor do butão*/
    color: rgb(0, 0, 0);/*cor da letra*/
    border: 2px solid black;
    border-radius: 50%;
}

.contentor[b-zxhmacjn0q] {
display: flex;
min-height: 100vh;
min-width: 100wh;

}
