.container[b-iqhk2qen0b]{
    background: transparent;/*cor da caixa onde estão elementos*/
    justify-content: center;
}


html[b-iqhk2qen0b] {
    margin: 0px;
    height: 100%;
    width: 100%;
 }
 
 body[b-iqhk2qen0b] {
    margin: 0px;
    max-height: 100vh;/*para tamanho de fundo ser sempre mesmo*/
    width: 100%;
    background-image:  linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.7)
      ), url('homeImage_2.jpg');
      
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
 }